[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==3.1.2"
django-bootstrap3 = "*"
psycopg2 = "*"
pillow = "*"
python-decouple = "*"

[requires]
python_version = "3.8"
